<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="https://github.com/biodiesel-equipment" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="mailto:order@biodiesel.equipment"
      onclick="ga('send','event','link','ordernow','page footer');"
      class="icon alt fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>Copyright &copy; 2017 CBR Beyond Technology Enterprises. All rights reserved.</li>
    <li>Design: <a href="https://gaius.coffee">GaiusCoffee</a></li>
  </ul>
</footer>
